:root {
    --color-background:             #fff;
    --color-password-generator-bg:  #f4f4f4;
    --color-label:                  #1e2334;
    --color-title:                  #1e2334;
    --color-checkbox:               #fb5d78;
    --color-checkbox-hover:         #bf3149;
    --color-label-detail:           #425fff;
    --color-display-bg:             #cecece;
    --color-display-alert:          #5c5c5c;
    --color-very-weak:              #bf3149;
    --color-weak:                   #C27E31;
    --color-mediocre:               #BF9C32;
    --color-strong:                 #B1C231;
    --color-very-strong:            #32BF4C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
}

html {
    background-color: var(--color-background);
    font-size: 100%;
}

@font-face {
    font-family: 'Comfortaa-regular';
    src: url('../fonts/Comfortaa-regular.ttf') format('opentype');
}
@font-face {
    font-family: 'Comfortaa-bold';
    src: url('../fonts/Comfortaa-bold.ttf') format('opentype');
}

.container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    min-width: 576px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.password-generator {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    height: fit-content;
    background-color: var(--color-password-generator-bg);
    border-radius: 20px;
    font-family: Comfortaa-regular;
    padding: 25px;
}

.password-generator .title {
    font-size: 48px;
    color: var(--color-title);
    text-align: center;
}

.password-generator .password-display {
    display: flex;
    margin-top: 20px;
}

.password-generator .password-display .password-content {
    background-color: var(--color-display-bg);
    width: 74%;
    border-radius: 6px;
    padding: 15px;
    color: var(--color-display-alert);
    font-size: 26px;
    font-family: Comfortaa-bold;
    letter-spacing: 3px;
    text-align: center;
    align-content: center;
    overflow-wrap: break-word;
}

.password-alert {
    color: var(--color-display-alert);
    font-size: 18px;
}

.password-generator .password-display .password-buttons {
    width: 225px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}

.password-generator .password-display .password-buttons .button {
    width: 60px;
    height: 60px;
    background-color: var(--color-checkbox);
    border-radius: 6px;
    color: var(--color-password-generator-bg);
    font-size: 36px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border: 2px solid var(--color-password-generator-bg);
}

.password-generator .password-display .button:hover {
    background-color: var(--color-checkbox-hover);
}

.password-generator .password-strenght {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}

.password-generator .password-strenght .strenght-data {
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    justify-content: space-between;
}

.password-generator .password-strenght .strenght-data .security-score,
.password-generator .password-strenght .strenght-data .crack-time {
    display: flex;
    width: fit-content;
    height: 40px;
    align-items: center;
}

.sub-title {
    font-size: 18px;
}

.password-generator .password-strenght .strenght-data .security-score .score,
.password-generator .password-strenght .strenght-data .crack-time .duration {
    color: var(--color-checkbox);
    font-size: 20px;
    font-weight: bold;
}

.password-generator .password-strenght .strenght-data .crack-time {
    justify-content: end;
}

.password-generator .password-strenght .head-progress-container {
    background-color: var(--color-background);
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.password-lenght {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 16px;
}

.slider-component {
    width: 90%;
}

.password-lenght .slider-number {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: right;
    font-size: 24px;
}

.password-lenght .slider-component .slider {
    width: 100%;
    height: 15px;
    margin-top: 10px ;
    background-color: var(--color-very-weak);
    border-radius: 5px;
    opacity: 0.5;
    outline: none;
}

.password-lenght .slider-component .slider:hover {
    opacity: 1;
}

.password-generator .password-strenght .head-progress-container .head-progress {
    width: 20%;
    transition:
        width .25s,
        background-color .5s;
    height: 100%;
}

.password-generator .password-settings {
    margin-top: 25px;
    margin-bottom: 25px;
}

.password-generator .password-settings .characteres-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;    
}

.input {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 30px;
}

input[type='checkbox'] {
    /* hiding the native checkbox input */
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    height: 20px;
    width:  20px;
    border: 1px solid var(--color-label);
    border-radius: 16%;
    background-color: var(--color-password-generator-bg);
    transform: translateY(-0.1em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input:checked[type='checkbox']{
    background-color: var(--color-checkbox);
    border: 1px solid var(--color-checkbox);
}

input:hover[type='checkbox'] {
    border: 3px solid var(--color-label);
}

input:hover[type='checkbox']:checked {
    background-color: var(--color-checkbox-hover);
}

input:hover[type='checkbox']:checked {
    border: 3px solid var(--color-checkbox-hover);
}

input[type='checkbox']::before {
    content: '';
    width:  14px;
    height: 14px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /* enable the state of the radio to be visible when printed */
    box-shadow: inset 1em 1em var(--color-password-generator-bg);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

label {
    width: fit-content;
    color: var(--color-label);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    margin-left: 8px;
    cursor: pointer;
}

label .separator {
    color: var(--color-checkbox);
}

label .extended {
    letter-spacing: 2px;
}

.hidden {
    display: none;
}

/* RESPONSIVE */
@media (max-width: 991px) {
    .password-generator .title {
        font-size: 42px;
    }
    .input {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .password-generator .title {
        font-size: 36px;
    }
    .password-generator .password-display {
        flex-direction: column;
        align-items: center;
    }
    .password-generator .password-display .password-content {
        width: 100%;
    }
    .password-generator .password-display .password-buttons {
        margin-top: 20px;
    }
    .password-generator .password-strenght .strenght-data {
        flex-direction: column;
    }
    .password-generator .password-strenght .strenght-data .security-score,
    .password-generator .password-strenght .strenght-data .crack-time {
        width: 100%;
        justify-content: center;
    }
    .password-generator .password-strenght .head-progress {
        margin-top: 0;
    }
    .input {
        width: 100%;
    }
}